In [1]:
import sqlite3

In [2]:
def orlando_update(table, values):
  with sqlite3.connect('orlando.db') as conn:
    try:
      cursor = conn.cursor()
      if table == "zillow":
        columns = '(neighborhood, period, value)'
      elif table == "income" or table == "unemployment":
        columns = '(tract, period, value)'
      else:
        raise ValueError("Invalid table name")

      # Replace placeholders in the SQL script
      formatted_script = sql_script.format(table=table, columns=columns)

      # Execute the formatted SQL script
      cursor.execute(formatted_script, values)
      conn.commit()
    except Exception as e:
      conn.rollback()
      print("An error occurred:", e)

In [ ]:
with open('../sql-scripts/update.txt', 'r') as sql_file:
  sql_script = sql_file.read()

# Example usage:
# orlando_update("zillow", ('Alafaya', '2030-01-31', 500000))